#!/usr/bin/make -f                                                                                                                        

%:
	dh $@ --with python2

get-orig-source:
	uscan --verbose --force-download --rename --destdir=../build-area

override_dh_auto_test::
	 python setup.py test